<div class="container-fluid">
  <div class="col-md-2">
   
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Company</th>
          <th>Internal Project</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let p of projects">
          <td><a class="nav-link" [routerLink]="['/projects',{outlets:{'detail':[p.id]}}]" routerLinkActive="active">{{p.id}}</a></td> 
          <td>{{p.company}}</td>
          <td>{{p.internalProject}}</td>
         
        </tr>

        <div>
            <button class="small" (click)="onSelectCreate()">Add Project</button>
          </div>
      </tbody>
    </table>
    
  </div>