<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Create a iteration</h2>
        <br>
        <form name="iteration" (ngSubmit)="f.form.valid && createIteration()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="iterationId"><b>Id</b></label>
                <input type="text" name="iterationId" class="form-control" id="iterationId" [(ngModel)]="iteration.id"
                    #iterationId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && iterationId.invalid }" required>
                <div class="invalid-feedback">
                    <div>The iteration's Id is missing</div>
                </div>
            </div>
                        <div class="form-group">
                <label for="iterationObjetive"><b>objetive</b></label>
                <input type="text" name="iterationObjetive" class="form-control" id="iterationObjetive" [(ngModel)]="iteration.objetive"
                    #iterationObjetive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && iterationId.invalid }" required>
                <div class="invalid-feedback">
                    <div>The iteration's objetive is missing</div>
                </div>
            </div>
            <div class="form-group">
                <label for="iterationValidationDate"><b>validation date</b></label>
                <input type="text" name="iterationValidationDate" class="form-control" id="iterationValidationDate" [(ngModel)]="iteration.validationDate"
                    #iterationValidationDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && iterationValidationDate.invalid }" required>
                <div class="invalid-feedback">
                    <div>The iteration's validation date is missing</div>
                </div>
            </div>
            <div class="form-group">
                <label for="iterationBeginDate"><b>begin date</b></label>
                <input type="text" name="iterationBeginDate" class="form-control" id="iterationBeginDate" [(ngModel)]="iteration.beginDate"
                    #iterationBeginDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && iterationBeginDate.invalid }" required>
                <div class="invalid-feedback">
                    <div>The iteration's begin date is missing</div>
                </div>
            </div>
            <div class="form-group">
                <label for="iterationEndDate"><b>end date</b></label>
                <input type="text" name="iterationEndDate" class="form-control" id="iterationEndDate" [(ngModel)]="iteration.endDate"
                    #iterationEndDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && iterationEndDate.invalid }" required>
                <div class="invalid-feedback">
                    <div>The iteration's end date is missing</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>