<div class="container">
	<div class="row">
    <div class="col-10">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Is Leader?</th>
            <th scope="col">info</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let developer of developers" >
            <th scope="row">{{developer.id}}</th>
            <td>{{developer.name}}</td>
            <td>{{developer.login}}</td>
            <td>{{developer.email}}</td>
            <td>{{developer.leader}}</td>
            <td><a class="btn btn-primary btn-sm" [routerLink] ="['/developers', { outlets: { 'detail': [developer.id] } }]">Detalles</a></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  
  <div class="row">
    <a class="nav-link active" routerLink="developers/add" routerLinkActive="active">add Developer</a>
  </div>

</div>