<form [formGroup]="providerForm" (ngSubmit)="!providerForm.invalid && createProvider(providerForm.value)">

	<div class="form-group mx-sm-3 mb-2">
		<label for="name">
      Provider Name
    </label>
		<input novalidate
    id="name"
    class="form-control"
      formControlName="name"
      placeholder="">

		<div class="alert alert-danger alert-dismissible fade show"
			*ngIf="providerForm.get('name').hasError('required') && providerForm.get('name').touched">
			Name required
		</div>
	</div>

		<button class="button mx-sm-3 mb-2" type="submit">Create</button>

</form>
