<div class="container">
	<div class="row">
    <div class="col-10">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Unit</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let requester of requesters" >
            <th scope="row">{{requester.id}}</th>
            <td>{{requester.name}}</td>
            <td>{{requester.login}}</td>
            <td>{{requester.email}}</td>
            <td>{{requester.unit}}</td>
          </tr>
        </tbody>
      </table>

    </div>
	</div>
</div>

<button class="button mx-sm-3 mb-2" [routerLink]="['/requesters',{outlets:{'create':'add'}}]" >Add requester</button>
