


<table class="table table-striped" id="proveedores">
    <thead >
        <tr>
            <th>Proveedores</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let e of providers">
          <td ><a class="nav-link" [routerLink]="['/providers',{outlets:{'detail':[e.id]}}]" routerLinkActive="active">{{e.name}}</a></td>
        </tr>

    </tbody>
</table>
<button class="button mx-sm-3 mb-2" [routerLink]="['/providers',{outlets:{'detail':'agregar'}}]" >Agregar nuevo proveedor</button>
