<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3">El hardware # {{hardwareDetail.id}}</p>
        <img src="https://www.esun.edu.pe/assets/img/courses/comp-info.jpg" class="card-img-top" alt="...">    
        <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Cores</th>
      <th scope="col">Ram</th>
      <th scope="col">Plataforma</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{hardwareDetail.cores}}</td>
      <td>{{hardwareDetail.ram}}</td>
      <td>{{hardwareDetail.plataforma}}</td>

    </tr>
  </tbody>
  </table>

    </div>
</div>
