<div class="col-md-12">
  <div class="container-fluid">   
    <p class="h3 p-3">El project # {{projectid}}</p>
    <h1>Developers</h1>   
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope='col'>Login</th>
      <th scope='col'>Email</th>
      <th scope='col'>Phone</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of projectDetail.developers">
      <td>{{d.id}}</td>
      <td>{{d.login}}</td>
      <td>{{d.email}}</td>
      <td>{{d.phone}}</td>
    </tr>
  </tbody>
  </table>
  <div >
    <div class="row">
        <div class="col-md-3">
            <p *ngIf="projectDetail.iterations.length > 0">
                <button type="button" class="btn" [ngClass]="{ 'btn-primary': iterationListComponent.isCollapsed,'btn-outline-primary':!iterationListComponent.isCollapsed}" (click)="toggleIterations()">
                        Iterations of the project
            </button>
            </p>
        </div>
    <div class="col-md-3">
        <p>
            <button type="button" class="btn" [ngClass]="{ 'btn-primary': iterationAddComponent.isCollapsed,'btn-outline-primary':!iterationAddComponent.isCollapsed}" (click)="toggleCreateIteration()">
                    Create a Iteration
            </button>
        </p>
    </div>
    </div>
  </div>
  <app-project-iterations [projectIterations]="projectDetail.iterations"></app-project-iterations>
  <app-project-add-iteration [project]="projectDetail" (updateIterations)="updateIterations()"></app-project-add-iteration>
<br>
    </div>
</div>
