<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3">La iteración # {{iterationDetail.id}}</p>  
        <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">objetivos</th>
      <th scope="col">fecha de validación</th>
      <th scope="col">cambios</th>
      <th scope="col">fecha de inicio</th>
      <th scope="col">fecha final</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{iterationDetail.objetive}}</td>
      <td>{{iterationDetail.validationDate}}</td>
      <td>{{iterationDetail.changes}}</td>
      <td>{{iterationDetail.beginDate}}</td>
      <td>{{iterationDetail.endDate}}</td>
    </tr>
  </tbody>
  </table>

    </div>
</div>